.dashboard {
  width: 92%;
  height: 87%;
  border-radius: 46px;
  background: rgb(19, 52, 66);
  position: relative;

  background: -moz-linear-gradient(
    126deg,
    rgba(19, 52, 66, 1) 0%,
    rgba(38, 70, 119, 1) 100%
  );
  background: -webkit-linear-gradient(
    126deg,
    rgba(19, 52, 66, 1) 0%,
    rgba(38, 70, 119, 1) 100%
  );
  background: linear-gradient(
    126deg,
    rgba(19, 52, 66, 1) 0%,
    rgba(38, 70, 119, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#133442",endColorstr="#264677",GradientType=1);
}
